<html>
<style>
   h1   {color: pink;    font-family: courier;    font-size: 160%;}
   h2   {color: red;}

   ul    {list-style-type: none;  margin: 0;    padding: 0;    overflow: hidden;    background-color: Maroon;}
   li     {float: left;}
   li a  {display: block;  color: white;    text-align: center;    padding: 14px 16px;    text-decoration: none;}
   li a:hover {background-color: brown;}
</style>
<title>Online Accreditation System</title>
<img src="/static/logo.jpg" width="1335" height="160" >
<ul>
    <li><a href="/acollege">View College Details</a></li>
 <li><a href="/staff">Staff Management</a></li>
    <li><a href="/timetable">Timetable Generation</a></li>
   <li><a href="/events">Accreditation Details</a></li>
    <li><a href="/staffreport">Staff Report</a></li>
  <li><a href="/eventsreport">Accreditation Report</a></li>
   <li><a href="/login">Logout</a></li>
</ul>
<body background="/static/home.jpg">
<tr>
<td><form method="post" action="/ct_reports">		
<center><h3><p class="pgtophead rti changefont title-header" id="missng">College Details</p></h3><br><br>
<p align="justify" class="style7">
	    value="1">A.J.K. College of Arts and Science, Coimbatore 
		</br>
	     value="2">Angappa College of Arts and Science, Coimbatore 
		  </br>  value="3">Avinashilingam University for Women (Avinashilingam Institute for Home Science and Higher Education for Women), Coimbatore 
	   </br>  value="4">Bishop Ambrose College, Coimbatore 
		</br>  value="5">C.M.S. College of Science and Commerce, Coimbatore 
	   </br>  value="6">C.S.I. Bishop Appasamy College of Arts and Science, Coimbatore 
		</br>    value="7">Cherran College For Women, Tirupur 		   
	   </br>  value="8">C.B.M. College Sakethapuri, Coimbatore 
		</br>    value="9">Chikkanna Government Arts College, Coimbatore 
	   </br>  value="10">Dr. G.R. Damodaran College of Science, Coimbatore 
		</br>    value="11">Dr. N.G.P. Arts and Science College, Coimbatore 
	   </br>  value="12">Dr. R.V. Arts and Science College, Coimbatore 
		</br>    value="13">Dr. S.N.S. Rajalakshmi College of Arts and Science, Coimbatore 		   
	   </br>  value="14">Govt. Arts College (Autonomous), Coimbatore 
		</br>    value="15">Govt. Arts College, Udumalpet 
	    </br> value="16">Hindusthan College of Arts and Science, Coimbatore 
		</br>    value="17">K.G. College of Arts and Science, Coimbatore 
	    </br> value="18">K.S.G. College of Arts and Science, Coimbatore 
		</br>  value="19">Kongunadu Arts and Science College, Coimbatore 
		</br>    value="20">L.R.G. Govt. Arts College for Women, Tiruppur 
		 </br>  		    value="21">Maharaja Arts and Science College, Coimbatore 
	    </br> value="22">Nallamuthu Gounder Mahalingam College (Autonomous), Pollachi 
		</br>	     value="23">Nehru College of Arts and Science, Tirupur 
		</br>    value="24">Nirmala College for Women, Coimbatore 
		</br>    value="25">Pioneer College of Arts and Science, Coimbatore 
		  </br>  value="26">P.S.G. College of Arts and Science (Autonomous), Coimbatore 
		 </br>   value="27">P.S.G.R. Krishnamal College for Women, Coimbatore 
	     </br> value="28">Sankara College of Science and Commerce, Coimbatore 
		</br>	 value="29">Sri G.V.G. Visalakshi College for Women (Autonomous), Udumalpet 
		  </br>  value="30">Sri Ramakrishna Mission Vidyalaya College of Arts and Science (Autonomous), Coimbatore 
	    </br> value="31">Thavathiru Santhalinga Adigallar Arts and Science, Coimbatore 
	   </br>    value="32">V.L.B. Janakiammal College of Arts and Science, Coimbatore 
	</p>
</center></form>
</td>
</body>
</html>
